section.steps {
  padding-top: 100px;

  .card {
    margin-right: 30px;
    border: unset !important;
    box-shadow: 0 14px 30px rgba(103,132,187,.15),0 4px 4px rgba(103,132,187,.05);
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: 0.5s ease-in-out;
    max-width: 279px;
    img.card-img-top {
      max-width: 115px;
    }
  }

  .card:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 768px) {
  section.steps {
    padding-top: 50px;
    text-align: center;
    .card {
      margin-right: unset !important;
      margin-bottom: 20px;
      padding: 10px;
      transition: 0.5s ease-in-out;
      img.card-img-top {
        max-width: 60px;
      }
      .card-body {
        padding-top: 20px;
        padding-bottom: 3px !important;
        .card-title {
          // margin-bottom: unset !important;
          font-size: 20px;
          line-height: 1.1;
        }
      }
    }
  }
}