section.list {
  position: relative;
  padding: 80px 0 10px 0;
  overflow: hidden;

  .card.list {
    width: 100%;
    min-width: 100px;
    min-height: 300px;
    max-height: 550px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 14px 30px rgba(103,132,187,.15),0 4px 4px rgba(103,132,187,.05);
    border: unset !important;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;

    .coverbackground {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(360deg, rgba(24, 40, 83, 0.7),rgba(221, 113, 113, 0.1));
      background-size: cover;
    }

    .top-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative;

      .wrap-rating {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .text-top-card {
        font-weight: 350;
        font-size: 15;
        color: white;
      }
    }

    .bottom-card {
      display: flex;
      flex-wrap: wrap;
      text-overflow: clip;
      position: relative;
    }

    .text-title {
      color: white;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      
    }
  }

  @media (max-width: 768px) {
    .card.list {
      min-width: 90px;
      max-width: 200px;
      min-height: 130px;
      max-height: 250px;
      padding: 3px 5px;
    }

    .text-title {
      font-size: 15px;
    }
  }

}