section.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1560972550-aba3456b5564?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 151px;

  .bg-overlay {
    background-color: transparent;
    background-image: radial-gradient(circle,rgba(0, 68, 255, 0.452) ,rgba(221, 113, 113, 0.5));
    opacity: .7;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  input{
    border: none;
    padding: 10px;
    margin: 10px;
    height: 40px;
    width: 600px;
    border:1px solid #eaeaea;
    outline:none;
    border-radius: 3px;
    background-color: #fff;
    z-index: 10;
  }
  input:hover{
      border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
  }
  input:focus{
      border-color:#4d90fe;
  }

  input[type="submit"] {
      border-radius: 2px;
      background: #f2f2f2;
      border: 1px solid #f2f2f2;
      color: #757575;
      cursor: default;
      font-size: 14px;
      font-weight: bold;
      width: 100px;
      padding: 0 16px;
      height:36px;
  }
  input[type="submit"]:hover {
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      background: #f8f8f8;
      border: 1px solid #c6c6c6;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      color: #222;
  }
}

@media (max-width: 768px) {
  section.search {
    input {
      width: 300px;
    }
  }
}