.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  flex-direction: column;

  img.imgLoading {
    width: 63%;
  }

  .player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width: 768px) {
  .loading {
    width: 290px;

    img.imgLoading {
      width: 61%;
    }
  }
}