.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  flex-direction: column;

  img.imgLoading {
    width: 33%;
  }

}

.dialog-content {
  .MuiDialogContent-root {
    padding: 19px 27px 1px 27px !important;
  }
  .row {
    padding: 20px;
  }
  .player-wrapper {
    display: flex !important;
    // justify-content: start !important;
    align-items: center !important;
  
    .cover-img {
      width: 250px;
      margin-bottom: 9px;
      border-radius: 7px;
    }
  }

  .genre-wrapper {
    display: block;
    margin-bottom: 20px;
  }

  .card-desc {
    background-color: white !important;
    box-shadow: 0 14px 30px rgba(103,132,187,.15),0 4px 4px rgba(103,132,187,.05);
    border: unset !important;
    min-width: 240px;
    height: 100%;
    overflow: hidden;

    .MuiRating-root {
      display: flex !important;
      cursor: default;
    }

    span {
      font-size: 10px;
    }

    p {
      margin-bottom: 7px !important;
    }
  }
}


@media (max-width: 768px) {
  .loading {
    width: 210px;
    height: 290px;

    img.imgLoading {
      width: 31%;
    }
  }

  .dialog-content {
    .MuiDialogContent-root {
      padding: 11px 15px 1px 15px !important;
    }

    .player-wrapper {
      justify-content: center !important;

      .cover-img {
        width: 190px;
      }
    }
  }
}